body {
	color: rgb(51, 51, 51);
	
	padding-top: 0px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-top: 0px;
	margin-left: 0px;
	background-color: rgb(247, 247, 247);
	font-weight: normal;
}
a {
	color: rgb(192, 128, 0); text-decoration: none; 
}
a.emph {
	color: rgb(204, 0, 0); text-decoration: none;
}
a#toppy {
	color: rgb(102, 102, 102); font-size: 12px; text-decoration: none;
}
a#toppy:hover {
	color: rgb(204, 204, 204);
	text-decoration: underline;
}
a:hover {
	color: rgb(192, 128, 0);
	text-decoration: underline;
}
#horznav {
	background: rgb(236, 92, 6); width: 960px; color: rgb(255, 255, 255); font-family: Verdana, Helvetica, Arial, Sans-serif; font-size: 11px;
}
.horznavbox {
	margin: 0px; border: 1px solid white; width: 150px; text-align: center; float: left;
}
#container {
	margin: 0px auto;
	border: 1px solid rgb(219, 219, 219);
	width: 960px;
	background-color: rgb(247, 247, 247);
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}
#mainbody {
	margin: 0px; padding: 0px; width: 960px; font-size: 11px;
}
#submainbody {
	margin-right: 100px; margin-left: 100px;
}
#textarea {
	padding: 12px 75px 20px 42px;
	width: 640px;
	font-size: 12px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	border-left-color: rgb(219, 219, 219);
	border-left-width: 1px;
	border-left-style: solid;
	float: right;
	min-height: 0px;
	background-color: white;
	font-family: Verdana, Geneva, sans-serif;
}
#headergraphic { 
	width: 960px;
	height: 283px;	
}
#headernav {
	text-align: center; color: rgb(255, 255, 255); clear: left; font-family: Verdana, Helvetica, Arial, Sans-serif; font-size: 15px; border-bottom-color: rgb(219, 219, 219); border-left-color: rgb(232, 232, 232); border-bottom-width: 0px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid;
}
#headernav ul {
	background: rgb(30, 30, 30); list-style: none; margin: 0px; padding: 0px; width: 100%; height: 25px;
}
#headernav ul li {
	display: inline;
}
#headernav ul li a#visit {
	color: rgb(255, 255, 255); border-left-color: rgb(219, 219, 219); border-left-width: thin; border-left-style: solid; display: inline;
}
#headernav ul li a#visit:hover {
	color: rgb(204, 204, 204); text-decoration: underline;
}
#headernav ul li a {
	padding: 0px 25px; color: rgb(255, 255, 255); font-weight: normal; text-decoration: none; border-right-color: rgb(219, 219, 219); border-right-width: thin; border-right-style: solid;
}
#headernav ul li a:hover {
	color: rgb(192, 128, 0);
	text-decoration: underline;
}

#badge_topleft {
	position: absolute ;
	z-index: 2 ;
	top: 10px ;
	left: 10px;
}

#badge_topright {
	position: absolute;
	z-index: 2;
	top: 10px;
	left : 870px;
}

#badge_bottomleft {
	position: absolute;
	z-index: 2;
	top: 193px;
	left: 10px;
}

#badge_bottomright {
	position: absolute;
	z-index: 2;
	top: 193px;
	left : 870px;
}



#subnavarea {
	margin: 0px; padding: 0px; width: 200px; float: left; display: inline;
}
#highlightedimageright {
	padding: 10px; border: 0px solid rgb(232, 232, 232); font-size: 75%; margin-left: 5px; float: right;
}
#highlightedimageleft {
	padding: 10px; border: 0px solid rgb(232, 232, 232);   font-size: 75%; margin-right: 5px; float: left;
}
h2 {
	color: #033;
	font-family: "Trebuchet MS",Helvetica,Arial,Geneva,sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0px;
	border-bottom-color: rgb(232, 232, 232);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
subtitle{
	font-size: 15px;

	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	border-left-color: rgb(219, 219, 219);
	border-left-width: 1px;
	border-left-style: solid;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	}
#footerbox {
	width: 100%; text-align: center; color: rgb(255, 255, 255); line-height: 13px; padding-top: 10px; font-size: 75%; background-color: rgb(153, 153, 153);
}
#peoplebox {
	margin: 10px 10px 0px 0px; padding: 5px; border: 1px solid rgb(232, 232, 232); width: 485px;
}
.peopleboxpic {
	padding: 10px; border: 1px solid rgb(232, 232, 232); width: 100px; line-height: 0px; font-size: 9px; float: left; background-color: rgb(255, 255, 255);
}
.peopleboxtext {
	width: 330px; padding-right: 10px; font-size: 85%; float: right;
}
#subnav {
	width: 200px; padding-top: 15px; font-family: Verdana, Helvetica, Arial, Sans-serif; font-size: 13px; float: left;
}
#subnav ul {
	list-style: none; margin: 0px; padding: 0px 5px;
}
#subnav ul li {
	color: rgb(102, 102, 102); padding-top: 5px; padding-bottom: 5px; font-weight: normal; text-decoration: none; display: block;
}
#subnav ul li a {
	color: rgb(102, 102, 102); padding-top: 5px; padding-bottom: 5px; font-weight: normal; text-decoration: none; display: block;
}
#subnav ul li a#current {
	color: rgb(256, 0, 0); padding-top: 5px; padding-bottom: 5px; font-size: 11px; text-decoration: none;
}
#subnav ul li a:hover {
	color: rgb(204, 204, 204); text-decoration: underline;
}
#subnav ul li #sub {
	padding: 0px; color: rgb(102, 102, 102); line-height: 13px; text-indent: 15px;
}
#subnav ul li a#sub {
	padding: 0px; color: rgb(102, 102, 102); line-height: 13px; text-indent: 15px;
}
#subnav ul li a#subsub {
	padding: 0px;
	color: rgb(102, 102, 102);
	line-height: 13px;
	text-indent: 30px;
	font-size: 9px;
}
#importantlinks {
	width: 355px; margin-right: 7px; margin-left: 0px; float: left;
}
#importantlinks ul {
	padding-left: 15px;
}
#rio {
	height: 270px; margin-left: -8px; list-style-type: none;
}
#rio p {
	 margin-bottom: 10px;
}
#rio p img {
	border: 0px currentColor; padding-right: 7px; float: left;
}
#rio p span {
	font-size: 88%;
}
#twitter {
	width: 235px; float: right;
}
